@font-face {
    font-family: 'm';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family: m;
  background-color: rgba(0, 0, 0, 0.84);
  color: white;
}

h1{
  font-size: 20pt;
}
textarea{
  background-color: rgb(0, 0, 0);
  color:white;
  font-size: 15pt;
  width: 95%;
  height: 500pt;
  font-family: m;
  border:solid 2pt white;
}
.bar{
  display: flex;
  border:solid 3pt blue;
  gap:20pt;
  background-color: white;
  color: black;
}
.button{
  background-color: #00ff0000;
  border:none;
  font-family: m;
}
a{
  color:white;
  text-decoration: white;
}